asgiref==3.8.1
certifi==2025.7.14
distlib==0.3.9
dj-database-url==3.1.0
Django==5.1.4
django-environ==0.12.0
filelock==3.16.1
gunicorn==25.0.2
packaging==26.0
pillow==11.1.0
platformdirs==4.3.6
psycopg2-binary==2.9.10
python-dotenv==1.2.1
sqlparse==0.5.3
virtualenv==20.28.1
virtualenvwrapper-win==1.2.7
whitenoise==6.11.0
yt-dlp==2025.12.8
